@model prototipo1204.Models.Pedido

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idCliente" class="control-label"></label>
                <select asp-for="idCliente" class ="form-control" asp-items="ViewBag.idCliente"></select>
            </div>
            <div class="form-group">
                <label asp-for="idEnd" class="control-label"></label>
                <select asp-for="idEnd" class ="form-control" asp-items="ViewBag.idEnd"></select>
            </div>
            <div class="form-group">
                <label asp-for="idPag" class="control-label"></label>
                <select asp-for="idPag" class ="form-control" asp-items="ViewBag.idPag"></select>
            </div>
            <div class="form-group">
                <label asp-for="dataPed" class="control-label"></label>
                <input asp-for="dataPed" class="form-control" />
                <span asp-validation-for="dataPed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalPed" class="control-label"></label>
                <input asp-for="totalPed" class="form-control" />
                <span asp-validation-for="totalPed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

