@model prototipo1204.Models.Login

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Login</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cliente.idCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.adm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.adm.idAdm)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idLogin">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
